@font-face {
  font-family: 'QuickSand-Bold';
  font-style: normal;
  src: url('~assets/font/Quicksand-Bold.ttf') format('truetype');
}


@font-face {
  font-family: 'Nunito';
  font-style: normal;
  src: url('~assets/font/Nunito-Regular.ttf') format('truetype');
}